.add_opportunity {
   margin-top: 20px;
   align-items: center;
   text-align: center;
}
.add_opportunity > h2 {
   text-align: center;
   align-content: center;
}
.add_opportunity > h3 {
   margin-bottom: 0 !important;
}
.add_opportunity > form {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   margin-bottom: 30px;
}
.add_opportunity > img {
   object-fit: contain;
   height: 70px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.add_opportunity > form > input {
   width: 350px;
   height: 30px;
   font-size: 16px;
   padding-left: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
}
.add_opportunity > form > button {
   width: 365px;
   height: 50px;
   font-size: large;
   color: #FFF;
   background-color: #fbb117;
   border-radius: 5px;
   cursor: pointer;
}