.manage {
   margin-top: 25px;
   margin-bottom: 25px;
   width: 80%;
   text-align: center;
}

.manage > h1 {
   margin-bottom: 25px;
}

.manage > table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   background-color: white;
}