.profile {
   margin-top: 25px;
   margin-bottom: 25px;
   width: 80%;
   text-align: center;
}

.profile > p {
   margin-top: 25px;
   font-size: 20px;
}

.profile > img {
   /* border-radius: 50%; */
   margin-top: 10px;
   height: 200px;

}