.services {
   margin-top: 25px;
   margin-bottom: 25px;
   width: 80%;
   text-align: center;
}

.services > h3 {
   margin-top: 20px;
}
.services > p {
   margin-top: 20px;
}

.services > img {
   margin-top: 10px;
   width: 200px;
   height: auto;

}